.loading-wrapper {
  position: absolute;
  top: 10vh;
  text-align: center;
  width: 100%;
  height: 250px;
}
.loading-bars,
.loading-bars:before,
.loading-bars:after {
  background: #0052A5;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loading-bars:before,
.loading-bars:after {
  position: absolute;
  top: 0;
  content: '';
}
.loading-bars:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loading-bars {
  color: #8A000D;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loading-bars:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
#loading-error, #loading-emailme {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*margin: 0 auto;*/
  display: none;
  text-align: center;

}
#loading-emailme {
  top: 110%;
}
