:host {
	display: block;
}
paper-header-panel[main] {
	background-color: var(--page-background-main);
}
paper-header-panel[drawer] {
	background-color: var(--page-background-drawer);
	color: var(--page-menu-color);
	font-family: var(--page-menu-font);
}
paper-toolbar {
	background-color: var(--page-background-toolbar);
}

paper-toolbar h1 {
	display: inline-block;
	font-family: var(--home-link-font);
	font-size: 32px;
	text-align: center;
}

paper-toolbar h1 a {
	text-decoration: none;
	color: var(--home-link-color);
	font-size: 32px;
}

paper-drawer-panel paper-header-panel[main] paper-toolbar h1 {
	display: none;
}

paper-drawer-panel[narrow] paper-header-panel[main] paper-toolbar h1 {
	display: inline-block;
}

.header {
	display: flex;
	justify-content: space-around;
	font-size: 18px;
}

.menu {
	margin-top: 25px;
	margin-bottom: 85px;
	font-size: 24px;
	text-align: center;
}

.menu a{
	display: block;
	height: 35px;
	color: var(--menu-link-color);
	transition: color .2s ease;
}

.menu a:hover{
	display: block;
	color: var(--menu-link-color-hover);
}

.bottom {
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
	height: 48px;
	border-top: 1px solid black;
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	transition: color .2s ease;
}

.bottom paper-button {
	transition: color .2s ease;
}

.bottom paper-icon-button {
	transition: color .2s ease;
}

.bottom paper-button:hover {
	color: var(--link-hover-color);
}

.bottom paper-icon-button:hover {
	color: var(--link-hover-color);
}

